<div class="card">
<div class= "card-body">
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  
  <div class="form-group row">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Descrption'  %>
  </div>

  <div class="form-group row">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Task.statuses.keys.map { |status| [status.titleize, status] }, { selected: @task.status || 'In_progress' }, class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= form.label :deadline, style: "display: block" %>
    <%= form.datetime_field :deadline, class: 'form-control' %>
  </div>

  <div class="input-group-append">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
