<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-light'>
  <div class="container pt-5 pb-5">
  <span><h1>Task Management App</h1></span>
    <p class="notice" style="color: green"><%= notice %> </p>
    <p class="alert" ><%= alert %> </p>
    <%= yield %>
  </div>
  </body>
</html>
